subscription_id = "" // Azure SubscriptionID for the Terraform State Deployment
tenant_id       = "" // TenantID for the Terraform State Deployment
resource_group_name = "" // Resource Group Name for the Deployment
location        = "" // Azure Region for the Terraform State Deployment