resource_group_name         = "" // Resource Group Name for the Deployment
location        = "" // Azure Region for the Terraform State Deployment
identity_name         = "" // Name of the managed identity